:root {
    --theme-color: #9333ea;
}

body {
   background-image:linear-gradient(to bottom right, #fff1f2, #f5f3ff, #fdf2f8);
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
}
.header {
  text-align: center;
  margin-bottom: 32px;
}

.icon-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 24px;
  background: linear-gradient(135deg, #a855f7, #f43f5e);
  color: white;
  margin-bottom: 24px;
  font-size: 28px;
  animation: pulse 2s infinite;
}

.gradient-text {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  background: linear-gradient(90deg, #9333ea, #f43f5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  color: #4b5563;
  font-size: 16px;
}

/* Pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.85;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     padding: 40px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.auth-card {
    background: #fff;
    padding: 35px;
    border-radius: 16px;
    width: 100%;
    max-width: 420px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.auth-card h3 {
   background: linear-gradient(90deg, #9333ea, #f43f5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.btn-theme {
    background: linear-gradient(to right, #7c3aed, #f43f5e);
    color: white; 
    border: none;
    padding: 10px;
    font-weight: 600;
}

.btn-theme:hover {
    background-color: white;
}

a {
    color: var(--theme-color);
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}
