/* extra small device start */

@media (min-width:320px) and (max-width: 575.98px) { 


}
/* extra small device end */

/*  small device start */
@media (min-width:576px) and (max-width: 767.98px) { 


}

/*  small device end */

/* medium device start */
@media (min-width:768px) and (max-width: 991.98px) { 


}

/* medium device end */

/* large device start */
@media (min-width:992px) and (max-width: 1199.98px) { 


}

/* large device end */