/* extra small device start */
@media (min-width: 320px) and (max-width: 575.98px) {
  .offers-grid {
    flex-wrap: wrap;
  }
  .carousel-item {
    width: 100% !important;
  }
  .team-grid {
    grid-template-columns: 1fr;
  }
  .teamslide {
    overflow: hidden;
  }
}
/* extra small device end */
/* small device start */
@media (min-width: 576px) and (max-width: 767.98px) {
  .offers-grid {
    flex-wrap: wrap;
  }
  .carousel-item {
    width: 100% !important;
  }
  .team-grid {
    grid-template-columns: 1fr;
  }
  .teamslide {
    overflow: hidden;
  }
  .services-grid {
	
	justify-content: center;
}
}

/* small device end */

/* medium device start */
@media (min-width: 768px) and (max-width: 991.98px) {
  .offers-grid {
    flex-wrap: wrap;
  }
  .carousel-item {
    width: 100% !important;
  }
  .team-grid {
    grid-template-columns: 1fr;
  }
  .teamslide {
    overflow: hidden;
  }
  .services-grid {
	
	justify-content: center;
}
}
/* medium device end */
/* large device start */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .offers-grid {
    flex-wrap: wrap;
  }
  .carousel-item {
    width: 100% !important;
  }
  .team-grid {
    grid-template-columns: 1fr;
  }
  .teamslide {
    overflow: hidden;
  }
  .services-grid {
	
	justify-content: center;
}
}
/* large device start */